<!doctype html>
<html>
<head>
  <title>Game Form</title>
</head>
<body>
    <form action="/madlib">
        What is your name?
        <label for="user-name">Your name</label>
        <input type="text" name = "name" id="user-name">

        <p>
        What is your favorite color?
        <label for="user-color">Favorite color</label>
        <input type="text" name = "color" id="user-color">
        </p>

        <p>
        Enter a noun:
        <label for="noun-selection"></label>
        <input type="text" name="noun" id="noun-slection">
        </p>

        <p>
        Select an adjective:
        <label></label>
        <select name="adjective" id="adjective-select">
            <option value="nice">Nice</option>
            <option value="annoying">Annoying</option>
            <option value="mean">Mean</option>
            <option value="chill">Chill</option> </p>
        </select>
        <input type="submit">
    </form>
</body>
</html>