<!doctype html>
<html>
<head>
  <title>Game Form</title>
</head>
<body>
    <form action="/madlib">
        What is your name?
        <label for="user-name">Your name</label>
        <input type="text" name = "name" id="user-name">

        <p>
        What is your favorite color?
        <label for="user-color">Favorite color</label>
        <input type="text" name = "color" id="user-color">
        </p>

        <p>
        Enter a noun:
        <label for="noun-selection"></label>
        <input type="text" name="noun" id="noun-slection">
        </p>

        <p>
        Select an adjective:
        <label for="adjective-select"></label>
        <select name="adjective" id="adjective-select">
            <option value="nice">Nice</option>
            <option value="annoying">Annoying</option>
            <option value="mean">Mean</option>
            <option value="chill">Chill</option> </p>
        </select>

        <p>
        What is your favorite animal?
        <label for="tiger">Tiger</label>
        <input type="checkbox" name="animal" value="tiger" id="tiger">

        <label for="lion">Lion</label>
        <input type="checkbox" name="animal" value="lion" id="lion">

        <label for="cat">Cat</label>
        <input type="checkbox" name="animal" value="cat" id="cat">

        <label for="dog">Dog</label>
        <input type="checkbox" name="animal" value="dog" id="dog">
        </p>

        <p>
        Select favorite food:
        <label for="pizza">Pizza</label>
        <input type="radio" name="food" value="pizza" id="pizza">

        <label for="lasagna">Lasagna</label>
        <input type="radio" name="food" value="lasagna" id="lasagna">

        <label for="hamburger">Hamburger</label>
        <input type="radio" name="food" value="hamburguer" id="hamburger">

        </p>
        <input type="submit">
    </form>
</body>
</html>