<!doctype html>
<html>
<head>
  <title>Madlib!</title>
  <style>
    body {
    font-family: "Lucida Sans";
    font-size: 12;
    margin: 50px;
    color: pink;
}
  </style>
</head>
<body>
    There once was a {{color}} {{noun}} sitting in the Hackbright Lab.
When {{ person }} went to pick it up, it burst into flames in a totally
{{adjective}} way and the {{animal}} was laughing, watching and eating a delicious {{food}}.

  <p>
    <p><a href="/game">Click me to go to Game page</a></p>
  </p>
</body>
</html>

